body {
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/***************************************************************************************
*    Title: How To Create Circles
*    Author: w3schools
*    Availability: https://www.w3schools.com/howto/howto_css_circles.asp
*
***************************************************************************************/
.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

#containerDot{
  position: fixed;
  bottom: 15%;
  margin-left: 24%;
}

.gc {
  text-align: center;
  font-size: 40pt;
  padding-top: 150px;
}

#pc {
  text-align: center;
  font-size: 20pt;
}

#btnRel {
  font-size: 30pt;
  display: block;
  margin: auto;

}

#menuContainer{
  margin-top: 3%;
}

#help{
  position: absolute;
  border: 2px solid grey;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  text-align: center;
  top: 8px;
  right: 175px;
  color: indianred;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
}

#endButton{
  position: fixed;
  background-color: indianred;
  border-radius: 360px;;
  width: 160px;
  height: 50px;
  top: 8px;
  right: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
  cursor: pointer;
}

#messageBar{
  position: fixed;
  bottom : 8%;
  /*right : 30%;*/
  left: 24%;
  padding-left: 10px;
  border-radius: 360px;;
  border: 3px solid grey;
  width: 50%;
  height: 50px;
  padding-top: 3px;
  outline: none;
  cursor: pointer;
}

#sendButton{
  position: fixed;
  bottom : 8%;
  left : 1px;
  right: 1px;
  margin-left: 75%;
  border-radius: 360px;;
  border: 3px solid black;
  width: 7%;
  min-width: 120px;
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
  height: 50px;
  padding-top: 10px;
  margin-right: 5px;
  cursor: pointer;
}

#chatbox{
  position: fixed;
  margin-top: 45px;
  border-radius: 10px;
  width: 60%;
  height: 70%;
  margin-left: 20%;
  border: 3px solid grey;
  overflow: auto;
}

.box3 {
  right: 7%;
  margin: 10px 0px 10px 70%;
  border-radius: 15px;
  background: #00bfb6;
  color: #fff;
  padding: 20px;
  font-weight: 900;
  font-family: arial;
  position: relative;
  overflow: visible;
}


/* speech bubble 13 */

.sb13:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid #00bfb6;
  border-right: 15px solid transparent;
  border-top: 15px solid #00bfb6;
  border-bottom: 15px solid transparent;
  right: -16px;
  top: 0px;
}

/* The emerging W3C standard
   that is currently Firefox-only */
   * {
    scrollbar-width: thin;
    scrollbar-color: grey transparent;
  }

  /* Works on Chrome/Edge/Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    background: white;
    border-radius: 20px;
  }
  *::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 20px;
    border: 3px solid white;
  }

  .boxBot {
    margin: 10px 65% 10px 25px;;
    border-radius: 15px;
    background: #0013bd;
    color: #fff;
    padding: 20px;
    font-weight: 900;
    font-family: arial;
    position: relative;
  }

  .sb14:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid #0013bd;
    border-top: 15px solid #0013bd;
    border-bottom: 15px solid transparent;
    left: -16px;
    top: 0px;
  }