body {
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/***************************************************************************************
*    Title: How To Create Circles
*    Author: w3schools
*    Availability: https://www.w3schools.com/howto/howto_css_circles.asp
*
***************************************************************************************/
.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

#containerDot{
  position: fixed;
  bottom: 15%;
  margin-left: 24%;
}

.gc {
  text-align: center;
  font-size: 40pt;
  padding-top: 150px;
}

#pc {
  text-align: center;
  font-size: 20pt;
}

#btnRel {
  font-size: 30pt;
  display: block;
  margin: auto;

}

#menuContainer{
  margin-top: 3%;
}

#help{
  position: absolute;
  border: 2px solid grey;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  text-align: center;
  top: 8px;
  right: 175px;
  color: indianred;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
}

#endButton{
  position: fixed;
  background-color: indianred;
  border-radius: 360px;;
  width: 160px;
  height: 50px;
  top: 8px;
  right: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
  cursor: pointer;
}

#messageBar{
  position: fixed;
  bottom : 8%;
  /*right : 30%;*/
  left: 24%;
  padding-left: 10px;
  border-radius: 360px;;
  border: 3px solid grey;
  width: 50%;
  height: 50px;
  padding-top: 3px;
  outline: none;
  cursor: pointer;
}

#sendButton{
  position: fixed;
  bottom : 8%;
  left : 1px;
  right: 1px;
  margin-left: 75%;
  border-radius: 360px;;
  border: 3px solid black;
  width: 7%;
  min-width: 120px;
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
  height: 50px;
  padding-top: 10px;
  margin-right: 5px;
  cursor: pointer;
}

#chatbox{
  position: fixed;
  margin-top: 45px;
  border-radius: 10px;
  width: 60%;
  height: 70%;
  margin-left: 20%;
  border: 3px solid grey;
  overflow: auto;
}

.box3 {
  right: 7%;
  margin: 10px 0px 10px 70%;
  border-radius: 15px;
  background: #00bfb6;
  color: #fff;
  padding: 20px;
  font-weight: 900;
  font-family: arial;
  position: relative;
  overflow: visible;
}


/* speech bubble 13 */

.sb13:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid #00bfb6;
  border-right: 15px solid transparent;
  border-top: 15px solid #00bfb6;
  border-bottom: 15px solid transparent;
  right: -16px;
  top: 0px;
}

/* The emerging W3C standard
   that is currently Firefox-only */
   * {
    scrollbar-width: thin;
    scrollbar-color: grey transparent;
  }

  /* Works on Chrome/Edge/Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    background: white;
    border-radius: 20px;
  }
  *::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 20px;
    border: 3px solid white;
  }

  .boxBot {
    margin: 10px 65% 10px 25px;;
    border-radius: 15px;
    background: #0013bd;
    color: #fff;
    padding: 20px;
    font-weight: 900;
    font-family: arial;
    position: relative;
  }

  .sb14:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid #0013bd;
    border-top: 15px solid #0013bd;
    border-bottom: 15px solid transparent;
    left: -16px;
    top: 0px;
  }

  .modal{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;visibility:hidden}.modal .modal-background{-webkit-transition:all .3s;-o-transition:all .3s;transition:all .3s;opacity:0}.modal.is-active{visibility:visible}.modal.is-active .modal-background{opacity:1}.modal.modal-full-screen .modal-background{background-color:#fff}.modal.modal-full-screen .modal-content{height:100%;max-height:100vh;margin:0;background-color:#fff}.modal.modal-fx-fadeInScale .modal-content{-webkit-transform:scale(.7);-o-transform:scale(.7);transform:scale(.7);opacity:0;-webkit-transition:all .3s;-o-transition:all .3s;transition:all .3s}.modal.modal-fx-fadeInScale.is-active .modal-content{-webkit-transform:scale(1);-o-transform:scale(1);transform:scale(1);opacity:1}.modal.modal-fx-slideRight .modal-content{-webkit-transform:translateX(20%);-o-transform:translateX(20%);transform:translateX(20%);opacity:0;-webkit-transition:all .3s cubic-bezier(.25,.5,.5,.9);-o-transition:all .3s cubic-bezier(.25,.5,.5,.9);transition:all .3s cubic-bezier(.25,.5,.5,.9)}.modal.modal-fx-slideRight.is-active .modal-content{-webkit-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0);opacity:1}.modal.modal-fx-slideLeft .modal-content{-webkit-transform:translateX(-20%);-o-transform:translateX(-20%);transform:translateX(-20%);opacity:0;-webkit-transition:all .3s cubic-bezier(.25,.5,.5,.9);-o-transition:all .3s cubic-bezier(.25,.5,.5,.9);transition:all .3s cubic-bezier(.25,.5,.5,.9)}.modal.modal-fx-slideLeft.is-active .modal-content{-webkit-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0);opacity:1}.modal.modal-fx-slideBottom .modal-content{-webkit-transform:translateY(20%);-o-transform:translateY(20%);transform:translateY(20%);opacity:0;-webkit-transition:all .3s;-o-transition:all .3s;transition:all .3s}.modal.modal-fx-slideBottom.is-active .modal-content{-webkit-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0);opacity:1}.modal.modal-fx-slideTop .modal-content{-webkit-transform:translateY(-20%);-o-transform:translateY(-20%);transform:translateY(-20%);opacity:0;-webkit-transition:all .3s;-o-transition:all .3s;transition:all .3s}.modal.modal-fx-slideTop.is-active .modal-content{-webkit-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0);opacity:1}.modal.modal-fx-fall.modal{-webkit-perspective:1300px;perspective:1300px}.modal.modal-fx-fall .modal-content{-webkit-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transform:translateZ(600px) rotateX(20deg);transform:translateZ(600px) rotateX(20deg);opacity:0}.modal.modal-fx-fall.is-active .modal-content{-webkit-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;-webkit-transform:translateZ(0) rotateX(0);transform:translateZ(0) rotateX(0);opacity:1}.modal.modal-fx-slideFall.modal{-webkit-perspective:1300px;perspective:1300px}.modal.modal-fx-slideFall .modal-content{-webkit-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transform:translate(30%) translateZ(600px) rotate(10deg);transform:translate(30%) translateZ(600px) rotate(10deg);opacity:0}.modal.modal-fx-slideFall.is-active .modal-content{-webkit-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;-webkit-transform:translate(0) translateZ(0) rotate(0);transform:translate(0) translateZ(0) rotate(0);opacity:1}.modal.modal-fx-newsPaper .modal-content{-webkit-transform:scale(0) rotate(720deg);-o-transform:scale(0) rotate(720deg);transform:scale(0) rotate(720deg);opacity:0}.modal.modal-fx-newsPaper .modal-background,.modal.modal-fx-newsPaper .modal-content{-webkit-transition:all .7s;-o-transition:all .7s;transition:all .7s}.modal.modal-fx-newsPaper.is-active .modal-content{-webkit-transform:scale(1) rotate(0);-o-transform:scale(1) rotate(0);transform:scale(1) rotate(0);opacity:1}.modal.modal-fx-3dFlipVertical.modal{-webkit-perspective:1300px;perspective:1300px}.modal.modal-fx-3dFlipVertical .modal-content{-webkit-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transform:rotateX(-70deg);transform:rotateX(-70deg);-webkit-transition:all .3s;-o-transition:all .3s;transition:all .3s;opacity:0}.modal.modal-fx-3dFlipVertical.is-active .modal-content{-webkit-transform:rotateX(0);transform:rotateX(0);opacity:1}.modal.modal-fx-3dFlipHorizontal.modal{-webkit-perspective:1300px;perspective:1300px}.modal.modal-fx-3dFlipHorizontal .modal-content{-webkit-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transform:rotateY(-70deg);transform:rotateY(-70deg);-webkit-transition:all .3s;-o-transition:all .3s;transition:all .3s;opacity:0}.modal.modal-fx-3dFlipHorizontal.is-active .modal-content{-webkit-transform:rotateY(0);transform:rotateY(0);opacity:1}.modal.modal-fx-3dSign.modal{-webkit-perspective:1300px;perspective:1300px}.modal.modal-fx-3dSign .modal-content{position:relative;-webkit-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transform:rotateX(-60deg);transform:rotateX(-60deg);-webkit-transform-origin:50% 0;-o-transform-origin:50% 0;transform-origin:50% 0;opacity:0;-webkit-transition:all .3s;-o-transition:all .3s;transition:all .3s}.modal.modal-fx-3dSign.is-active .modal-content{-webkit-transform:rotateX(0);transform:rotateX(0);opacity:1}.modal.modal-fx-3dSignDown.modal{-webkit-perspective:1300px;perspective:1300px}.modal.modal-fx-3dSignDown .modal-content{position:relative;-webkit-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transform:rotateX(60deg);transform:rotateX(60deg);-webkit-transform-origin:0 100%;-o-transform-origin:0 100%;transform-origin:0 100%;opacity:0;-webkit-transition:all .3s;-o-transition:all .3s;transition:all .3s}.modal.modal-fx-3dSignDown.is-active .modal-content{-webkit-transform:rotateX(0);transform:rotateX(0);opacity:1}.modal.modal-fx-superScaled .modal-content{-webkit-transform:scale(2);-o-transform:scale(2);transform:scale(2);opacity:0;-webkit-transition:all .3s;-o-transition:all .3s;transition:all .3s}.modal.modal-fx-superScaled.is-active .modal-content{-webkit-transform:scale(1);-o-transform:scale(1);transform:scale(1);opacity:1}.modal.modal-fx-3dSlit.modal{-webkit-perspective:1300px;perspective:1300px}.modal.modal-fx-3dSlit .modal-content{-webkit-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transform:translateZ(-3000px) rotateY(90deg);transform:translateZ(-3000px) rotateY(90deg);opacity:0}.modal.modal-fx-3dSlit.is-active .modal-content{-webkit-animation:slit .5s forwards ease-out;-o-animation:slit .5s forwards ease-out;animation:slit .5s forwards ease-out}@-webkit-keyframes slit{50%{-webkit-transform:translateZ(-250px) rotateY(89deg);transform:translateZ(-250px) rotateY(89deg);opacity:1;-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{-webkit-transform:translateZ(0) rotateY(0);transform:translateZ(0) rotateY(0);opacity:1}}@-o-keyframes slit{50%{transform:translateZ(-250px) rotateY(89deg);opacity:1;-o-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{transform:translateZ(0) rotateY(0);opacity:1}}@keyframes slit{50%{-webkit-transform:translateZ(-250px) rotateY(89deg);transform:translateZ(-250px) rotateY(89deg);opacity:1;-webkit-animation-timing-function:ease-in;-o-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{-webkit-transform:translateZ(0) rotateY(0);transform:translateZ(0) rotateY(0);opacity:1}}.modal.modal-fx-3dRotateFromBottom.modal{-webkit-perspective:1300px;perspective:1300px}.modal.modal-fx-3dRotateFromBottom .modal-content{-webkit-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transform:translateY(100%) rotateX(90deg);transform:translateY(100%) rotateX(90deg);-webkit-transform-origin:0 100%;-o-transform-origin:0 100%;transform-origin:0 100%;opacity:0;-webkit-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out}.modal.modal-fx-3dRotateFromBottom.is-active .modal-content{-webkit-transform:translateY(0) rotateX(0);transform:translateY(0) rotateX(0);opacity:1}.modal.modal-fx-3dRotateFromLeft.modal{-webkit-perspective:1300px;perspective:1300px}.modal.modal-fx-3dRotateFromLeft .modal-content{-webkit-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transform:translateZ(100px) translateX(-30%) rotateY(90deg);transform:translateZ(100px) translateX(-30%) rotateY(90deg);-webkit-transform-origin:0 100%;-o-transform-origin:0 100%;transform-origin:0 100%;opacity:0;-webkit-transition:all .3s;-o-transition:all .3s;transition:all .3s}.modal.modal-fx-3dRotateFromLeft.is-active .modal-content{-webkit-transform:translateZ(0) translateX(0) rotateY(0);transform:translateZ(0) translateX(0) rotateY(0);opacity:1}.modal .modal-content.is-huge{width:800px;margin:0 20px;max-height:calc(100vh - 40px)}@media screen and (min-width:769px){.modal .modal-content.is-huge{width:800px;margin:0 20px;max-height:calc(100vh - 40px)}}.modal .modal-content.is-tiny{max-width:400px}.modal .modal-content.is-image{text-align:center}.modal .modal-content.is-image.is-huge{width:auto}.modal .modal-content.is-image img{max-height:calc(100vh - 50px)}.modal.modal-pos-top{-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start}.modal.modal-pos-top .modal-content{margin-top:1rem}.modal.modal-pos-bottom{-webkit-box-align:end;-webkit-align-items:flex-end;-ms-flex-align:end;align-items:flex-end}.modal.modal-pos-bottom .modal-content{margin-bottom:1rem}.modal .modal-background{background-color:rgba(10,10,10,.86)}

  .modal {
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    z-index: 40; }
    .modal.is-active {
      display: flex; }
  
  .modal-background {
    background-color: rgba(35, 39, 42, 0.86); }
  
  .modal-content,
  .modal-card {
    margin: 0 20px;
    max-height: calc(100vh - 160px);
    width:1200px;
    overflow: auto;
    position: relative; }
    @media screen and (min-width: 769px), print {
      .modal-content,
      .modal-card {
        margin: 0 auto;
        max-height: calc(100vh - 40px);
        width: 800px; } }
  
  .modal-close {
    background: none;
    height: 40px;
    position: fixed;
    right: 20px;
    top: 20px;
    width: 40px; }
  
  .modal-card {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 40px);
    width:1200px;
    overflow: hidden;}
  
  .modal-card-head,
  .modal-card-foot {
    align-items: center;
    background-color: #b3b2eb;
    display: flex;
    flex-shrink: 0;
    justify-content: flex-start;
    padding: 20px;
    position: relative; }
  
  .modal-card-head {
    border-bottom: 1px solid #666666;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; }
  
  .modal-card-title {
    color: rgb(0, 0, 0);
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 1.5rem;
    line-height: 1; }
  
  .modal-card-foot {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 1px solid #9c9c9c; }
    .modal-card-foot .button:not(:last-child) {
      margin-right: 0.5em; }
  
  .modal-card-body {
    -webkit-overflow-scrolling: touch;
    background-color: #b3b2eb;
    color: rgb(0, 0, 0);
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    padding: 20px; }

  .delete, .modal-close {
      -moz-appearance: none;
      -webkit-appearance: none;
      background-color: rgba(35, 39, 42, 0.2);
      border: none;
      border-radius: 290486px;
      cursor: pointer;
      pointer-events: auto;
      display: inline-block;
      flex-grow: 0;
      flex-shrink: 0;
      font-size: 0;
      height: 20px;
      max-height: 20px;
      max-width: 20px;
      min-height: 20px;
      min-width: 20px;
      outline: none;
      position: relative;
      vertical-align: top;
      width: 20px; }
      .delete::before, .modal-close::before, .delete::after, .modal-close::after {
        background-color: white;
        content: "";
        display: block;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        transform-origin: center center; }
      .delete::before, .modal-close::before {
        height: 2px;
        width: 50%; }
      .delete::after, .modal-close::after {
        height: 50%;
        width: 2px; }
      .delete:hover, .modal-close:hover, .delete:focus, .modal-close:focus {
        background-color: rgba(35, 39, 42, 0.3); }
      .delete:active, .modal-close:active {
        background-color: rgba(35, 39, 42, 0.4); }
      .is-small.delete, .is-small.modal-close {
        height: 16px;
        max-height: 16px;
        max-width: 16px;
        min-height: 16px;
        min-width: 16px;
        width: 16px; }
      .is-medium.delete, .is-medium.modal-close {
        height: 24px;
        max-height: 24px;
        max-width: 24px;
        min-height: 24px;
        min-width: 24px;
        width: 24px; }
      .is-large.delete, .is-large.modal-close {
        height: 32px;
        max-height: 32px;
        max-width: 32px;
        min-height: 32px;
        min-width: 32px;
        width: 32px; }